ion-content {
    // --background: url('https://img.freepik.com/free-vector/budgeting-concept-idea-financial-planning-wellbeing-currency-balance-income-money-allocation-isolated-flat-illustration-vector_613284-1084.jpg?size=626&ext=jpg&ga=GA1.1.2008272138.1723075200&semt=ais_hybrid') no-repeat center center fixed;///assets/image.png
    --background-size: cover;
  }
  
  form {
    display: flex;
    flex-direction: column;
    padding: 16px;
  }
  
  ion-item {
    margin-bottom: 16px;
  }
  
  ion-button {
    margin-top: 16px;
  }
  