<ion-content>
  <ion-segment [(ngModel)]="selectedSegment" (ionChange)="onSegmentChanged()">
    <ion-segment-button value="view">
      <ion-label>View Budget</ion-label>
    </ion-segment-button>
    <ion-segment-button value="edit">
      <ion-label>Edit Budget</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="selectedSegment">
    <!-- View Budget Section -->
    <div *ngSwitchCase="'view'">
      <app-show-budget></app-show-budget>
    </div>

    <!-- New Budget Section -->
    <div *ngSwitchCase="'new'">
      <app-new-budget></app-new-budget>
    </div>

    <!-- Edit Budget Section -->
    <div *ngSwitchCase="'edit'">
      <app-edit-budget></app-edit-budget>
    </div>
  </div>

  <!-- Floating Action Button to Add New Budget -->

  <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="showNewBudgetForm()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->
</ion-content>


