.budget-container {
  padding: 20px;
  background-color: var(--ion-color-background-contrast);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  margin: 0 auto;
}

.selectors-and-data {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.year-selection, .month-selection {
  background-color: var(--ion-color-light-contrast);
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.month-selection {
  display: flex;
  flex-direction: column;
}

.chip-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.data-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.table-container {
  flex: 1;
  background-color: var(--ion-color-background-contrast);
  color: var(--ion-color-background);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow-x: auto;
}

.budget-table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  font-size: 1rem;
}

.budget-table th, .budget-table td {
  padding: 10px;
  border-bottom: 1px solid var(--ion-color-medium);
}

.budget-table th {
  background-color: var(--ion-color-background-contrast);
  color: var(--ion-color-background);
  font-weight: bold;
}

.total-amount {
  margin-top: 10px;
  text-align: right;
  font-size: 1.2rem;
  font-weight: bold;
}

.chart-container {
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: var(--ion-color-background-contrast);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 450px;
}

p-chart {
  width: 100%;
}

@media (max-width: 768px) {
  .data-container {
    flex-direction: column;
  }

  .table-container, .chart-container {
    max-width: 100%;
  }

  .chart-container {
    margin-top: 20px;
  }
}
