.profile-content {
    --ion-background-color: linear-gradient(135deg, #f7e9f8, #f0eaff);
    display: flex;
    justify-content: center;
    padding: 0px;
  }
  
  .profile-container {
    display: grid;
    gap: 16px;
    // max-width: 900px;
    width: 100%;
  }
  
  .profile-card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 16px;
  }

  .grid_row {
    // margin: auto;
    gap: auto;
  }
  
  .profile-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
  }
  
  .profile-item {
    border: 1px solid #d3c4f0;
    border-radius: 4px;
    padding: 8px;
  }
  
  .button-group {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    margin-top: 16px;
  }
  
  ion-card-title {
    color: #4a4a4a;
    font-weight: bold;
  }
  
  ion-card-header {
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 8px;
    margin-bottom: 16px;
  }
  
  ion-card-content {
    padding: 8px 0;
  }
  
  ion-label {
    color: #757575;
  }
  

  
  ion-item {
    --padding-start: 0;
    --padding-end: 0;
  }
  ion-item {
    --highlight-color-focused: var(--ion-color-primary); /* Label color when focused */
    --color: var(--ion-color-primary); /* Text color (value) */
    --placeholder-color: var(--ion-color-primary); /* Placeholder text color */
    --placeholder-opacity: 1; /* Ensures the placeholder color is fully applied */
  
    ion-label {
      color: var(--ion-color-primary); /* Label color */
    }
  
    ion-input {
      --color: var(--ion-color-primary); /* Text color */
      --placeholder-color: var(--ion-color-primary); /* Placeholder color */
    }
  }
  
  
  ion-button {
    --background: #9c7ae7;
    --background-focused: #8563e0;
    --background-hover: #ab8fea;
  }
  
  ion-note {
    font-size: 14px;
    color: #6f6f6f;
  }
  

  .avatar-section {
    text-align: center;
    margin-bottom: 20px;
  
    img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      object-fit: cover;
      margin-bottom: 15px;
    }
  }
  