<ion-content class="profile-content">
<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

  <div class="profile-container">

    <!-- User Information Card -->
    <ion-card class="profile-card">
      <ion-card-header>
        <ion-card-title>User Information</ion-card-title>
        <ion-note>Joined on {{ profile.joinedOn | date: 'longDate' }}</ion-note>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-item class="profile-item">
              <ion-input label="User ID" labelPlacement="fixed" [value]="profile.uid" readonly></ion-input>
            </ion-item>
            <ion-item class="profile-item">
              <ion-input label="Email" labelPlacement="fixed" [value]="profile.email || 'Email not available'" readonly></ion-input>
            </ion-item>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <!-- Profile Image Card -->
    <ion-card class="profile-card">
      <ion-card-header>
        <ion-card-title>Profile Image</ion-card-title>
      </ion-card-header>
      <ion-card-content class="image-content">
        <div *ngIf="profile.imageURL; else noImage">
          <img [src]="profile.imageURL" alt="Profile Image" class="profile-image"/>
        </div>
        <ng-template #noImage>
          <ion-label>No image available.</ion-label>
        </ng-template>
        <ion-button *ngIf="noImage" color="danger" (click)="deleteImage()">Delete Image</ion-button>
        <ion-button color="primary" (click)="triggerFileInput()">Upload Image</ion-button>
        <input type="file" #fileInput accept="image/*" (change)="handleFileInput($event)" style="display:none">
      </ion-card-content>
    </ion-card>

    <!-- User Profile Card -->
    <ion-card class="profile-card">
      <ion-card-header>
        <ion-toolbar>
          <ion-card-title>User Profile</ion-card-title>
          <ion-buttons slot="end">
            <ion-button fill="outline" [color]="editMode ? 'danger' : 'primary'" (click)="toggleEdit()">
              <ion-icon slot="start" [name]="editMode ? 'close' : 'create'"></ion-icon>
              {{ editMode ? 'Cancel' : 'Edit' }}
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-card-header>
      <ion-card-content>
        <div class="profile-grid">
          <ion-item class="profile-item">
            <ion-input labelPlacement="floating" placeholder="Enter your Name" [(ngModel)]="name" [readonly]="!editMode" required>
              <div slot="label">Name <ion-text color="danger">(Required)</ion-text></div>
            </ion-input>
          </ion-item>
          <ion-item class="profile-item">
            <ion-input label="Date of Birth" labelPlacement="floating" placeholder="Enter your D.O.B" [(ngModel)]="dob" [readonly]="!editMode" type="date"></ion-input>
          </ion-item>
          <ion-item class="profile-item">
            <ion-input label="Age" labelPlacement="floating" [value]="calculateAge(profile.dob)" readonly></ion-input>
          </ion-item>
          <ion-item class="profile-item">
            <ion-input label="Phone Number" labelPlacement="floating" placeholder="Enter your Phone Number" [(ngModel)]="phoneNumber" [readonly]="!editMode" required maxlength="10"></ion-input>
          </ion-item>
        </div>
      </ion-card-content>

      <ion-card-header>
        <ion-card-title>Address</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="profile-grid">
          <ion-item class="profile-item">
            <ion-input label="Street" labelPlacement="floating" placeholder="Street Details" [(ngModel)]="street" [readonly]="!editMode"></ion-input>
          </ion-item>
          <ion-item class="profile-item">
            <ion-input label="Area" labelPlacement="floating" placeholder="Area Details" [(ngModel)]="area" [readonly]="!editMode"></ion-input>
          </ion-item>
          <ion-item class="profile-item">
            <ion-input label="District" labelPlacement="floating" placeholder="District Name" [(ngModel)]="district" [readonly]="!editMode"></ion-input>
          </ion-item>
          <ion-item class="profile-item">
            <ion-input label="State" labelPlacement="floating" placeholder="State Name" [(ngModel)]="state" [readonly]="!editMode"></ion-input>
          </ion-item>
          <ion-item class="profile-item">
            <ion-input label="Country" labelPlacement="floating" placeholder="Country Name" [(ngModel)]="country" [readonly]="!editMode"></ion-input>
          </ion-item>
          <ion-item class="profile-item">
            <ion-input label="Pin Code" labelPlacement="floating" placeholder="Enter Pin Code" [(ngModel)]="pin" [readonly]="!editMode" required maxlength="6"></ion-input>
          </ion-item>
        </div>
        <div class="button-group">
          <ion-button color="success" *ngIf="editMode" (click)="saveProfile()">Save</ion-button>
        </div>
      </ion-card-content>
      </ion-card>

      <!-- Bank Accounts Card -->
      <ion-card class="profile-card">
        <ion-card-header>
          <ion-card-title>Bank Accounts</ion-card-title>
        </ion-card-header>
        <div *ngIf="profile.bankAccounts?.length; else noAccounts">
          <ion-card-content>
            <ion-list>
              <ion-item *ngFor="let account of profile.bankAccounts">
                <ion-label>{{ account.name }}</ion-label>
                <ion-note slot="end">{{ account.balance | currency:'INR' }}</ion-note>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </div>
        <ng-template #noAccounts>
          <ion-card-content>
            <ion-label>No bank accounts available!</ion-label>
            <ion-label>  Check Bank Details.</ion-label>
          </ion-card-content>
        </ng-template>
      </ion-card>

      <!-- Total Balance Card -->
      <ion-card class="profile-card">
        <ion-card-header>
          <ion-card-title>Total Balance</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-label>{{ totalBalance | currency:'INR' }}</ion-label>
          <ion-label>   Check Bank Details for more information.</ion-label>
        </ion-card-content>
      </ion-card>

    </div>
  </ion-content>
