<!-- <ion-content>
  <div class="login-container">
    <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
      <ion-card>
        <ion-card-header>
          <ion-card-title color="primary"><strong>Login</strong></ion-card-title>
          <ion-card-subtitle color="primary">Enter the login details below</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          <ion-item lines="none">
            <ion-input
              label="Email ID"
              labelPlacement="floating"
              fill="outline"
              [clearInput]="true"
              placeholder="Enter your Email ID"
              type="email"
              formControlName="email"
              maxlength="20"
              [counter]="true"
              errorText="Invalid email"
            ></ion-input>
          </ion-item>

          <ion-item lines="none">
            <ion-input
              label="Password"
              fill="outline"
              placeholder="Enter the Password"
              type="password"
              formControlName="password"
              errorText="Invalid Password"
              color="primary"
            >
              <ion-input-password-toggle fill="clear" slot="end"></ion-input-password-toggle>
            </ion-input>
          </ion-item>

          <ion-button color="dark" fill="clear" size="full" (click)="recoverPassword()">
            Forgot Email/Password?
          </ion-button>
          <ion-button
            color="primary"
            fill="outline"
            size="full"
            type="submit"
            [disabled]="!loginForm.valid"
            shape="round"
          >
            Login
          </ion-button>
        </ion-card-content>
        <ion-card-content color="primary">
          <p class="signup-link">
            Don't have an account? <a routerLink="/signup">Sign up</a>
          </p>
        </ion-card-content>
      </ion-card>
      <p *ngIf="errorMessage$ | async" class="error">{{ (errorMessage$ | async) }}</p>
    </form>
  </div>
  <app-loading></app-loading>
</ion-content> -->



<ion-content class="login-content" [fullscreen]="true">
  <div class="login-container">
    <form (ngSubmit)="login()" [formGroup]="loginForm">
      <ion-card>
        <ion-card-header>
          <ion-card-title color="primary"><strong>Login</strong></ion-card-title>
          <ion-card-subtitle color="primary">Enter the login details below</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          <ion-item lines="none">
            <ion-input
              label="Email ID"
              labelPlacement="floating"
              fill="outline"
              [clearInput]="true"
              placeholder="Enter your Email ID"
              type="email"
              formControlName="email"
              maxlength="20"
              [counter]="true"
              errorText="Invalid email"
            ></ion-input>
          </ion-item>

          <ion-item lines="none">
            <ion-input
              label="Password"
              fill="outline"
              placeholder="Enter the Password"
              type="password"
              formControlName="password"
              errorText="Invalid Password"
              color="primary"
            >
              <ion-input-password-toggle fill="clear" slot="end"></ion-input-password-toggle>
            </ion-input>
          </ion-item>

          <ion-button color="dark" fill="clear" size="full" (click)="recoverPassword()">
            Forgot Email/Password?
          </ion-button>
          <ion-button
            color="primary"
            fill="outline"
            size="full"
            type="submit"
            [disabled]="!loginForm.valid"
            shape="round"
          >
            Login
          </ion-button>
        </ion-card-content>
        <ion-card-content color="primary">
          <p class="signup-link">
            Don't have an account? <a routerLink="/signup">Sign up</a>
          </p>
        </ion-card-content>
      </ion-card>
      <!-- <p *ngIf="errorMessage$ | async" class="error">{{ errorMessage$ | async }}</p> -->
    </form>
  </div>
</ion-content>
